.page {
    background-color: #2A2C2F;
    color: #fff;
    text-rendering: optimizeLegibility;
    margin: 0 48px;
    font-family: 'Inter', 'Arial', sans-serif;
}
@media screen and (max-width: 1024px) {
    .page {
        margin: 0 24px;
    }
}
@media screen and (max-width: 568px) {
    .page {
        margin: 0;
    }
}