.footer__link {
    margin-right: 18px;
    font-weight: 400;
}
@media screen and (max-width: 750px) {
    .footer__link {
        margin-top: 32px;
    }
    .footer__link:first-child {
        margin-top: 0;
    }
}