.place__paragraph {
    font-family: 'Inter Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125em;
    line-height: 163%;
    grid-area: paragraph;
}
@media all and (max-width: 984px) {
    .place__paragraph {
        font-family: 'Inter Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 1em;
        line-height: 163%;
        grid-area: paragraph;
        max-width: 352px;
    }
}