.footer__navbar {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}
    @media screen and (max-width: 750px) {
        .footer__navbar {
            flex-direction: column;
        }
    }
}