.place {
    max-width: 984px;
    display: grid;
    grid-template-areas: 
    "title website"
    "img paragraph";
    gap: 48px 40px;
    margin: 80px auto 0;
    /* grid-template-columns: repeat(2, 460px); */
    grid-template-columns: repeat(2, minmax(auto, 460px));
}
@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: repeat(2, minmax(auto, 456px));
        gap: 48px 32px;
    }
}
@media all and (max-width: 984px) {
    .place {
        grid-template-columns: repeat(2, minmax(auto, 352px));
        margin: 80px 24px 0;
        gap: 48px 28px;
    }
}
@media screen and (max-width: 568px) {
    .place {
        max-width: 320px;
        grid-template-areas: 
        "title"
        "website"
        "img"
        "paragraph";
        row-gap: 16px;
        margin: 50px 16px 0;
        grid-template-columns: fit-content(320px);
    }
}